# VitePress specific
*/.vitepress/dist
*/.vitepress/cache

# Standard Node.js
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
.ruff_cache/
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage

# OS/IDE specific
.DS_Store
.idea/
.vscode/

# Environment
.env
finetune_*.jsonl
coverage.xml
